img {
  width: 30%;
  float: left;

  margin:1.66%;
}

p {
  font-family: Raleway;
  margin-left: 1.66%;
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 800;
  /* text-decoration: underline rgba(); */
  border-bottom: 3px solid #f1f1f1;
  padding-bottom: 20px;
  width: 75%;
}

.link {
  color: orange;
  text-align: right;
  position: absolute;
  top: 50px;
  right: 30px;
  bottom: 100px;
  width: 100px;
  text-align:right;
  font-family: Raleway;
  font-weight: 700;
}

h4 {
  font-weight: 700;
  font-family: "Cedarville Cursive";
  text-align: center;
}

.art {
  font-family: Raleway;
  font-size: 16px;
  border-bottom: 3px solid #f1f1f1;
  width: 50%;

}

h5  {

  text-align: center;
}

#info {
  /* font-weight: 700; */
  width: 75%;
  /* font-size: 125%; */
}

h2 {
  font-family: Raleway;
  font-weight: 400;
  margin-left: 1.66%;

}
